* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    outline: none;
    position: relative;
}

body {
    position: relative;
    padding: 4px;
    background-color: #4e4e4e;
    color: #00a49c;
    width: 200px;
    border-radius: 4px;
}

input {
    border: 1px solid #00a49c;
    border-radius: 3px;
    padding: 4px 6px;
    width: 100%;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    background: #00a49c;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 4px 6px;
    cursor: pointer;
}
